/* */

/* Hiding the Anvil banner for a cleaner UI */
body.anvil-show-banner #anvil-header {
    display: none;
}

body.anvil-show-banner {
	margin-top: 0px;
}





/* Default Theme */
body.default-theme {
  background-color: #f0f4ff;
  color: #333;
}

.default-theme .btn {
  background-color: #4f62ff;
  color: #fff;
}

/* Dark Theme */
body.dark-theme {
  background-color: #1a1a1a;
  color: #ccc;
}

.dark-theme .btn {
  background-color: #333;
  color: #fff;
}